body{
    margin : 0px;
    font-family: 'Roboto', sans-serif;
}

h4, p{
    margin: 0;
}

/* nav bar */
.container__header{
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
    padding: 1rem!important;
    margin-bottom: 1rem!important;
    align-items: center!important;
}
.header__left{
    text-align: center!important;
}
.header__center a{
    padding: .5rem!important;

}
/* nav bar */












/* other */
.shadow__line{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border-bottom: 1px solid #dee2e6!important;
}
/* other */
